################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/bin/Debug/net8.0
/API/obj
/Application/bin/Debug/net8.0
/Application/obj
/Domain/obj
/EmailService/bin/Debug/net8.0
/EmailService/obj
/Infrastructer/bin/Debug/net8.0
/Infrastructer/obj
/Domain/bin/Debug/net8.0
/obj/YourProjectName.EntityFrameworkCore.targets
/RabibtMQ/bin/Debug/net8.0
/RabibtMQ/obj
/API/bin/Release/net8.0
/Application/bin/Release/net8.0
/Domain/bin/Release/net8.0
/Infrastructer/bin/Release/net8.0
/RabibtMQ/bin/Release/net8.0
/EmailService/bin/Release/net8.0
/API/Properties/PublishProfiles
/API/wwwroot/images/ImageProduct
/SePaySerivce/obj
/SePaySerivce/bin/Debug/net8.0
/SePaySerivce/bin/Release/net8.0
